 

<div class="d-flex justify-content-center m-3 searchform">

    <div class="container text-underline">
        Back
    </div>

</div>

   
 <mat-tab-group mat-align-tabs="center">
   <mat-tab label="Home">Home Content</mat-tab>
   <mat-tab label="Overview">Overview Content</mat-tab>
 </mat-tab-group>
 <br>
   
   
 <p>
   Implementation of mat-tab-group for center 
   style and for primary theme
 </p>
   
 <mat-tab-group mat-align-tabs="center" backgroundColor="primary">
   <mat-tab label="Home">Home Content</mat-tab>
   <mat-tab label="Overview">Overview Content</mat-tab>
 </mat-tab-group>
 <br>
   
   
 <p>
   Implementation of mat-tab-group for center 
   style and for accent theme
 </p>
   
 <mat-tab-group mat-align-tabs="center" backgroundColor="accent">
   <mat-tab label="Home">Home Content</mat-tab>
   <mat-tab label="Overview">Overview Content</mat-tab>
 </mat-tab-group>