.searchform{

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    border-radius: 2.5%;
    margin-top: 5%;
}

#event_title{
    color: aliceblue;
    font-family: 'Times New Roman';
}

#keyword_label{

    color: rgb(100,149,237);
    font-size: 1rem;
}

.labels{
    color: rgb(100,149,237);
    font-size: 1rem;
}

hr{
    color: aliceblue;
    opacity: 0.7;
}

.category_box{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
}


.hr_class{
    padding: 0%;
    margin: 0%;

}
#keyword{

    
    border-radius: 5px;
    
}

.asterisk{
    color: red;
    font-size: 13px;
}

.input_box_style{

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    font-size: 15px;

}


#main_div{

    height: 50%;
    width: 50%;
}

